* {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

.clearfix {
    float: none;
    clear: both;
}

body {
    background: url("../img.jpg");
    background-attachment: fixed;
}

#global {
    width: 65%;
    margin: 0% auto;
    margin-top: 30px;
    padding: 25px;
    background: white;
    box-shadow: 0px 0px 2px grey;
}

#logo {
    font-family: "verdana", "arial";
    font-size: 20px;
    letter-spacing: 4px;
    color: white;
    text-align: center;
    width: 385px;
    height: 80px;
    float: left;
    margin-bottom: 15px;
    line-height: 80px;
}

#menu {
    font-family: Arial, Helvetica, sans-serif;
    background: #333;
    width: 100%;
    text-transform: uppercase;
    margin-bottom: 20px;
}

#menu ul {
    line-height: 46px;
    list-style: none;
}

#menu ul li {
    height: 46px;
    display: inline-block;
    transition: all 300ms;
}

#menu a {
    display: block;
    color: white;
    text-decoration: none;
    padding-left: 30px;
    padding-right: 30px;
}

#posts {
    width: 70%;
    float: left;
    font-family: Helvetica, Arial, sans-serif;
}

.post {
    padding: 7px;
}

.post h2 {
    font-size: 30px;
    color: #333;
}

.post .date {
    display: block;
    color: gray;
    margin-top: 5px;
}

.post p {
    margin-top: 10px;
    margin-bottom: 20px;
    line-height: 22px;
}

.button-more {
    font-size: 14px;
    text-align: center;
    display: block;
    padding: 15px;
    color: white;
    text-decoration: none;
    margin-top: 10px;
    width: 70px;
    margin-bottom: 20px;
}

#sidebar {
    font-family: helvetica, arial;
    width: 31%;
    float: right;
}

#sidebar h4 {
    margin-top: 50px;
    margin-bottom: 20px;
    text-align: center;
    line-height: 10px;
    color: #333;
    background: url("../lines.png")repeat-x;
}

#sidebar h4 span {
    background: white;
    padding: 5px;
}

#sidebar img {
    width: 97%;
}

#sidebar p {
    font-size: 15px;
    text-align: justify;
}

form input[type="text"],
form input[type="pasword"],
form input[type="email"] {
    padding: 5px;
    border-radius: 2px;
    border: 1px solid #ccc;
    width: 80px;
    margin-bottom: 10px;
    margin-top: 5px;
}

form input[type="submit"] {
    background: #eee;
    padding: 5px;
    border: 1px solid gray;
    color: #333;
    cursor: pointer;
}

footer {
    font-family: helvetica, arial;
    color: white;
    height: 47px;
    background: rgba(51, 51, 52, 0.70);
    margin: 0px auto;
    width: 65%;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px;
    line-height: 47px;
}

.bx-wrapper,
.bx-view-port {
    height: 250 px !important;
}

#selector-theme {
    position: fixed;
    top: 40%;
    background: rgba(51, 51, 52, 0.50);
    width: 50px;
    height: 110px;
}

#to-green,
#to-red,
#to-blue {
    width: 25px;
    height: 30px;
    border: 1px solid white;
    display: block;
    margin: 0px auto;
    margin-top: 2px;
    margin-bottom: 2px;
    cursor: pointer;
}

#to-green {
    background: #235E3D;
    margin-top: 5px;
}

#to-red {
    background: #CA3A13;
}

#to-blue {
    background: #1f87c4;
}

.subir{
    color: white;
    text-decoration: none;
    display: block;
    float: right;
}